/* Global Styles */

body {
  font-family: merlin;
  background-color: #E0FFFF;
}


center {
  width: 50%;
  margin: 40px auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  border: 1px solid #ddd;
}

th {
  background-color: #f0f0f0;
}

label {
  font-weight: bold;
}

input[type="text"], input[type="password"] {
  width: 86%;
  padding: 10px;
  border: 1px solid #ccc;
}

button {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: right;
}

button[type="submit"]:hover {
  background-color: #4CAF50;
}

a {
  text-decoration: none;
  color: #337ab7;
}

a:hover {
  color: #23527c;
}
marquee {
  background-color: #40E0D0;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
}

#image-tg {
   float: left;
  margin-right: 20px;
}

button {
  margin: 0 auto;
  display: block;
  
}
