}

input[type="text"], input[type="password"] {
  width: 86%;
  padding: 10px;
  border: 1px solid #ccc;
}

button {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #009966;
  width: 86%;
}

a {
  text-decoration: none;
  color: #337ab7;
}

a:hover {
  color: #23527c;
}
marquee {
  background-color: #40E0D0;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
}

td button {
  margin: 0 auto;
  display: block;
}
