
.header-container {
  background-color: #ffffff00;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #000000;
}


.container3:hover{
  color: #e36729;
} 

@media (max-width: 768px) {
  .header {
    font-size: 1.5em;
  }
}

.font-size-responsive {
  font-size: 1.5rem;
}

.header-container img {
  height: 50px;
  margin-right: 20px;
  vertical-align: middle;
}

.header-container b {
  font-size: 18px;
  margin-right: 10px;
  color: #3E8E41;
}

.header-container a {
  color: #000000;
  margin-right: 20px;
  text-decoration: none;
}

.header-container a:hover {
  color: #; /* Darker green text on hover */
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  width: 100%;
  background-image: url('https://i.ibb.co/Wp1vr0d/pixelcut-export-1.png');
  background-color: rgba(0,0,0,0.4);
  background-size: cover; 
  background-blend-mode: multiply;
}

a {
  text-decoration: none;
  color: #000000;
  background-color: #ffffff00;
  font-family: Poppins;
}

a:hover {
  color: #fff;
}

h2, h3, h4, h5, h6 {
  margin-bottom: 10px;
  color: #fff;
}

h1{
margin: -1px;
  color: #fff;
  padding: 10px;
  font-size: 45px;
   margin-bottom: -40px;
}

p{
 margin: 9px;
  margin-bottom: 1px;
  color: #fff;
  
}


main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}

header {
  background-color: #333;
  padding: 20px;
  text-align: center;
  color: #fff;
}

header img {
  height: 50px;
  margin-right: 20px;
  vertical-align: middle;
}

header b {
  font-size: 18px;
  margin-right: 20px;
}

header a {
  color: #fff;
  margin-right: 20px;
}

header a:hover {
  color: #ccc;
}


.container1{
  width: 60%;
  font-size: 11px;
  margin-left: 95px;
  text-align: center;
   margin-top: 60px;
}

.container2{
  width: 70%;
  font-size: 11px;
  margin-left: 20px;
  text-align: left;
   margin-top: 0px;
  font-family: Archivo Black;
}

button {
  background-color:  #e36729;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
   text-align: center;
   margin-left: 25px;
}

#on1{
  color: #e36729;
  text-align: center;
}

#lo1{
  background-color: #7FFF00;
 font-family: sans-serif;
}

#log1{
  color: #fff;
  font-size: 12px;
}

.container3{
height: 10%;
  text-align: right;
}

.heading{
    tab-size: 4;
    box-sizing: border-box;
    border: 0 solid;
    margin: 0;
    display: inline-block;
   font-family: Montserrat;
    line-height: 1;
  font-size: 60px;
  
}
ul{
     text-align: left;
    -webkit-box-sizing: border-box;
    font: inherit;
    display: block;
    padding: 0 10px;
    width: 100%;
    color: #fff;
  font-size: 14px;
}

.container4{
  color: #fff;
  font-size: 16px;
  padding: -21px;
  width: 35%;
  font-family: Poppins;
}

.container5{
  color: #fff;
  font-size: 16px;
  padding: -21px;
   font-family: Poppins;
}

span{
  color: #e36729;
}

#main{
  display: flex;
  padding: 10px;
}

#base1{
  text-align: left;
  color: #fff;
  font-size: 19px;
    margin-left: 28px;
}

poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.archivo-black-regular {
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.montserrat-<uniquifier> {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

i{
   justify-content: space-between;
}

.pre-loader {
  position: fixed;
  background: #000 url(https://i.ibb.co/rttDMSC/nn1111-ezgif-com-video-to-gif-converter.gif) no-repeat center center;
  background-size: 100%;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}
 

.main-container {
  opacity: 0; /* Initially hide the main content */
  transition: opacity 2s; /* Add a transition effect for fading in */
}


.pre-loader.hidden {
  animation: fadeOut 7s;
  animation-fill-mode: forwards;
}

@keyframes fadeOut {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
