.header-container {
  background-color: #ffffff00;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 0px solid #8BC34A; 
  background-size: cover;
}

.header-container img {
  height: 50px;
  margin-right: 20px;
  vertical-align: middle;
}


.header-container b {
  font-size: 18px;
  margin-right: 10px;
  color: #3E8E41;
}

.header-container a {
  color: #2E865F; /* Green text */
  margin-right: 20px;
  text-decoration: none;
}

.header-container a:hover {
  color: #1B5E3F; /* Darker green text on hover */
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  width: 100%;
  background-image: url('https://i.ibb.co/Wp1vr0d/pixelcut-export-1.png');
  background-color: rgba(0,0,0,0.4);
  background-size: cover; 
  background-blend-mode: multiply;
}

a {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
  background-color: #ffffff00;
}

a:hover {
  color: #fff;
}

h2, h3, h4, h5, h6 {
  margin-bottom: 10px;
  color: #fff;
}

h1{
margin: -1px;
  color: #fff;
  padding: 10px;
  font-size: 45px;
   margin-bottom: -40px;
}

p{
 margin: 9px;
  margin-bottom: 1px;
  color: #fff;
  
}


main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}

header {
  background-color: #333;
  padding: 20px;
  text-align: center;
  color: #fff;
}

header img {
  height: 50px;
  margin-right: 20px;
  vertical-align: middle;
}

header b {
  font-size: 18px;
  margin-right: 20px;
}

header a {
  color: #fff;
  margin-right: 20px;
}

header a:hover {
  color: #ccc;
}


.container1{
  width: 60%;
  font-size: 11px;
  margin-left: 95px;
  text-align: center;
   margin-top: 60px;
}

.container2{
  width: 50%;
  font-size: 11px;
  margin-left: 20px;
  text-align: left;
   margin-top: 0px;
}

button {
  background-color: #00FFFF;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
   text-align: center;
   margin-left: 25px;
}

#on1{
  color: #00FFFF;
  
}

#lo1{
  background-color: #7FFF00;
}

#log1{
  color: #fff;
  font-size: 12px;
}

.container3{
height: 10%;
  text-align: right;
}

.heading{
    tab-size: 4;
    box-sizing: border-box;
    border: 0 solid;
    margin: 0;
    display: inline-block;
   font-family: Stargaze Stencil;
    line-height: 1;
    --tw-text-opacity: 1;
    color: rgb(255 255 255/var(--tw-text-opacity));
    transform: translateY(0%) translateZ(0px);
  
}
ul{
     text-align: left;
    -webkit-box-sizing: border-box;
    font: inherit;
    display: block;
    padding: 0 10px;
    width: 100%;
    color: #fff;
  font-size: 14px;
}

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 700

.comfortaa-<uniquifier> {
  font-family: "Comfortaa", sa;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.your-style {
    font-family: 'Stargaze Stencil';
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Stargaze';
    src: url('Stargaze-Regular.woff2') format('woff2'),
        url('Stargaze-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Stargaze Stencil';
    src: url('Stargaze-Stencil.woff2') format('woff2'),
        url('Stargaze-Stencil.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

